@model Vehiculo_CRUD.Models.agencia
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Eliminar</h2>
<h3>Seguro quieres eliminar?</h3>
<div>
    <h4>Agencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horainicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horainicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horafin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horafin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>
        <dd>
            <img src="@Url.Content("~/Content/assets/images/" + @Model.foto)" alt="Agencia" height="100" title="@Model.direccion"/>

        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-warning" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>